# User added directories to ignore:
models/
fastas/
features/
nt_fastas/
gapfilled/
gap_models/
likelihoods/
metabolic_output/
metabolic_output_V2/
metabolic_output_V3/
**/Code/error_logs/
