# User added directories to ignore:
models/
fastas/
features/
nt_fastas/
gapfilled/
gap_models/
likelihoods/
likelihoods_py3/
metabolic_output/
metabolic_output_V2/
metabolic_output_V3/
array_input/
array_input_V2/
**/Code/error_logs/
